footer{
  display: flex;
  align-items: center;
  color: #FDFDFD;
}

.example-spacer {
  flex: 1 1 auto;
}

a{
  text-decoration: none;
}

footer{
  width: 100vw;
  height: 50px;
  background-color: mediumseagreen;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
