@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49313");
}

*{
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
